.comollegar_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  margin: 20px;
}

.comollegar_contenedor h3 {
  background-color: blue;
  color: gold;
  text-align: center;
}

.section__grid {
  background-image: url(../img/bombonera1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px;
      grid-template-columns: 100px 100px;
  grid-column-gap: 1200px;
  padding: 50px;
}

.section__grid .subtitular {
  text-align: center;
  color: darkblue;
  background: gold;
}

.section__grid .section__item:nth-child(1) {
  background: aliceblue;
  width: 400px;
  height: 600px;
}

.section__grid .section__item:nth-child(1) ul {
  font-size: 23px;
}

.section__grid .section__item:nth-child(1) ul li {
  color: blue;
}

.section__grid .section__item:nth-child(1) ul li p {
  color: black;
}

.section__grid .section__item:nth-child(2) {
  background: aliceblue;
  width: 400px;
  height: 600px;
}

.section__grid .section__item:nth-child(2) ul {
  font-size: 23px;
}

.section__grid .section__item:nth-child(2) ul li {
  color: blue;
}

.section__grid .section__item:nth-child(2) ul li p {
  color: black;
}

.comollegar__container, .boton__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.comollegar__container h3, .boton__container h3 {
  text-align: center;
  background-color: blue;
  color: gold;
  font-size: 23px;
}

.comollegar__container .text__container, .boton__container .text__container {
  background-color: cornflowerblue;
}

.comollegar__container .comollegar__text, .boton__container .comollegar__text, .boton__container .boton__text {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

.comollegar__container .comollegar__text1, .boton__container .comollegar__text1 {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}

.comollegar__container .comollegar__text2, .boton__container .comollegar__text2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-size: 20px;
  color: aliceblue;
}

.comollegar__container .comollegar__text3, .boton__container .comollegar__text3 {
  text-align: center;
  font-size: 23px;
  color: gold;
}

.boton__container {
  background: lightsteelblue;
}

.boton__container .form__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

.boton__container .form__boton .boton__asociate {
  background: blue;
  color: gold;
  width: 150px;
  border-radius: 70px;
}

.boton__titulo {
  color: gold;
  font-size: 26px;
  text-align: center;
  background: blue;
}

/* Seccion Afiliate */
.formul__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: darkblue;
  width: 1000px;
}

/* Seccion quienes somos */
/* media querys mobile */
@media screen and (max-width: 480px) {
  .section__grid {
    background-image: url(../img/bombonera1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20px 20px;
        grid-template-columns: 20px 20px;
    grid-column-gap: 200px;
    padding: 5px;
  }
  .section__grid .subtitular {
    text-align: center;
    color: darkblue;
    background: gold;
    font-size: 12px;
  }
  .section__grid .section__item:nth-child(1) {
    background: aliceblue;
    width: 130px;
    height: 370px;
  }
  .section__grid .section__item:nth-child(1) ul {
    font-size: 11px;
  }
  .section__grid .section__item:nth-child(1) ul li {
    color: blue;
  }
  .section__grid .section__item:nth-child(1) ul li p {
    color: black;
  }
  .section__grid .section__item:nth-child(2) {
    background: aliceblue;
    width: 130px;
    height: 370px;
  }
  .section__grid .section__item:nth-child(2) ul {
    font-size: 11px;
  }
  .section__grid .section__item:nth-child(2) ul li {
    color: blue;
  }
  .section__grid .section__item:nth-child(2) ul li p {
    color: black;
  }
}

/* iframe {
    width: 300px;
    height: 130px;
} */
/*# sourceMappingURL=style.css.map */