.section__grid {
    background-image: url(../img/bombonera1.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 1200px;
    padding: 50px;

    .subtitular {
        text-align: center;
        color: darkblue;
        background: gold;
        }

    .section__item:nth-child(1) {
                    background: aliceblue;
                    width: 400px;
                    height: 600px;
                        ul {
                            font-size: 23px;
                            li {
                                color: blue;
                                p {
                                    color:black;
                         }
                     }
                }        
        }
    .section__item:nth-child(2) {
                    background: aliceblue;
                    width: 400px;
                    height: 600px;

                        ul {
                            font-size: 23px;
                            li {
                                color:blue;
                                p {
                                    color: black;
                         }
                    }
                } 
            }  
         
}


/* media querys mobile */
@media screen and (max-width: 570px){
    .section__grid {
        background-image: url(../img/bombonera1.jpg);
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
        display: grid;
        grid-template-columns: 20px 20px;
        grid-column-gap: 320px;
        padding: 10px;
    
        .subtitular {
            text-align: center;
            color: darkblue;
            background: gold;
            }
    
        .section__item:nth-child(1) {
                        background: aliceblue;
                        width: 180px;
                        height: 350px;
                            ul {
                                font-size: 11px;
                                li {
                                    color: blue;
                                    p {
                                        color:black;
                             }
                         }
                    }        
            }
        .section__item:nth-child(2) {
                        background: aliceblue;
                        width: 180px;
                        height: 350px;
    
                            ul {
                                font-size: 11px;
                                li {
                                    color:blue;
                                    p {
                                        color: black;
                             }
                        }
                    } 
                }  
             
    }


}